.row
    .col.center
        .nav
            a.nav-item(href="/") HOME
            a.nav-item(href="/bubbles") BUBBLES
            a.nav-item(href="/profile") PROFILE
            a.nav-item(href="/login") LOGIN
